.row2{ 
    font-size: 15px;
    color: #ADAFAA; 
    width: 1400px; 
    height: 600px;
    background-color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none; 
}

.work{
    background-color: white;
    width: 400px; 
    height: 20px; 
    margin: 0 auto; 
    margin-top: 0px; 
    padding-right: 0px;
    font-size: 16px; 
    text-align: center; 
    font-family: futura; 
    
    
}
.work li{
    display: inline; 
    padding: 15px; 40px; 
}
.work li a{
    text-decoration: none; 
    color: black;  
}
.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    width: 350px; 
    height: auto; 
    float: left;  
    position: relative; 
    
    
}
.hover11 figure:hover img {
	opacity: .5;
}

.header{
    width: 800px; 
    height: 200px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 50px; 
}
.header img{
    width: 800px; 
    height: 200px; 
}

figure {
    width: 350px;
    height: 160px; 
    position: relative; 

}

figure figcaption {
    position: absolute; 
    bottom: 0;
    left: 20%; 
    font-family: futura; 
    font-size: 28px; 
    color: white; 
    width:200px;  
    text-transform: uppercase; 
    font-weight:100;

}
figure {float: left;}

figure1 {
    width: 250px;
    height: 168px;
    position: relative;
}
h1{
    font-family: futura; 
    font-weight: 100; 
    font-size: 30px; 
}
.headline-femme{
    width: 300px; 
    height: 50px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 30px; 

}
.brodtext{
    width: 600px; 
    height: 110px; 
    margin-left: auto; 
    margin-right: auto; 
    font-family: futura; 
    
    
}